<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internet Speed Test</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Internet Speed Test</h1>
    <button onclick="runSpeedTest()">Run Speed Test</button>
    <div id="speedResults">
        <div class="progress-container">
            <div id="progressBar" class="progress-bar"></div>
        </div>
        <p id="downloadResult"></p>
        <p id="uploadResult"></p>
        <p id="pingResult"></p>
        <p id="latencyResult"></p>
        <p id="fastMessage" class="fast-message"></p>
        <p id="errorMessage" class="error-message"></p>
    </div>

    <script src="../static/script.js"></script>
</body>
</html>
